*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 1000px;
    margin: 0 auto;

}
header{
    min-height: 100px;
    background-color: lightblue;
}
footer{
    min-height: 100px;
    background-color: grey;
}
.flex{
    display: flex ;
    

}
.mainbox{
    width: 2000px;
}
nav{
    width: 2000px;
    height: 40px;
}
.box-footer{
    min-height: 75px;
}
.bg-yellow{
    background-color: yellow;
}
.bg-blue{
    background-color: blue;
}
.bg-lightgrey{
    background-color: lightgrey;
}
.bg-grey{
    background-color: grey;
}
.bg-pink{
    background-color: pink;
}
.jc-content-center{
    justify-content: center;
}
.jc-content-end{
    justify-content: end;
}
.jc-content-start{
    justify-content: start;
}
.jc-content-between{
    justify-content: space-between;
}
.aitems{
    align-items: center;

}
.aitems-end{
    align-items: end;
}
.logo{
    width: 25%;
    padding: 2px;

}
.logo-footer{
    
    padding: 5px;

}
.bottone{
   
    padding: 2px;

}
.login{
    width: 25%;

}
.link{
    width: 50%;

}
.red{
    background-color: red;
    min-width: 1500px;
    min-height: 750px;
}
.blue{
    background-color: blue;
    min-height: 750px;
    width: 70%;
}
.pink{
    background-color: pink;
    min-height: 800px;
    width: 40%;
}
.green{
    background-color: green;
    min-width: 2000px;
    min-height: 900px;
}
.gaqua{
    background-color: rgb(0, 139, 139);

}
.acqua-content{
    min-height: 800px;
    width: 20%;

}

.border-solid{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.order{
    order: -1;
}